.header{
    background: url('../../assets/header-bg.jpg') center center/cover;
    min-height: 180px;
    position: relative;
    @media(max-width:550px){
        min-height: 120px;
    }
    &__logo{
        align-items: center;
        img{
            object-fit: cover;
            width: 200px;
            height: auto;
            @media(max-width:550px){
                width: 130px;
            }
        }
    }
    &__corporate-investors{
        position: absolute;
        width: 250px;
        object-fit: cover;
        bottom: -50px;
        right: 15px;
        @media(max-width:1050px){
            bottom: 10px;
        }
        @media (min-width:350px)and(max-width:550px){
            width: 180px;
        }
        @media(max-width:349px){
            width:120px;
        }
    }
}