@font-face {
    font-family: 'Hacen Tunisia Lt';
    src: url('../webfonts/HacenTunisiaLt.woff2') format('woff2'),
        url('../webfonts/HacenTunisiaLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

