.historical-dividends{
    background-color: $white;
    border-radius: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    margin-bottom: 24px;
&__title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    background-color: $main-color;
    color: $white;
}
&__graph{
    padding: 15px;
    img{
        width: 100%;
        object-fit: cover;
    }
}

}